<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Consulter la météo de votre ville." />
        <meta name="author" content="Couret Alexandre">
        <title>{% block title %}{% endblock %}</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('css/error.css') }}">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">
        <link rel="apple-icon" sizes="57x57"   href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-icon" sizes="60x60"   href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-icon" sizes="72x72"   href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-icon" sizes="76x76"   href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
